:root {
  /* font-family: 'Handjet'; */
  font-family: monospace;
  line-height: 2;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 2px;
  color-scheme: light dark;
  color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: red;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

ul {
  list-style-type: none;
}

#app {
  width: 100%;
  margin: 0;
  padding: 1vw;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  html {
    margin: 0;
    padding: 0;
    height: 100vh;
    max-height: 100vh;
    background: linear-gradient(66deg, #44749b, #e2dd3e);
    background-size: 400% 400%;
    overflow: scroll;
  }

  .content {
    color: black;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(66deg, #000000, #656e91);
    background-size: 400% 400%;
    color: white;
  }

  .sparkle-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .sparkle-background::before,
  .sparkle-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: 
      radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 2px),
      radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 1px),
      radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 2px),
      radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 2px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    animation: sparkle 10s linear infinite;
  }
  
  .sparkle-background::after {
    background-size: 200px 200px, 300px 300px, 250px 250px, 400px 400px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    animation-duration: 15s;
  }
}

@media screen and (max-width: 600px) {
  #app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  :root {
    
  }
}

.section {
  
}

.footer {
  margin-top: 120px;
  color: white;
  p {
    color: white;
  }

  a { 
    color: white;
    cursor: pointer;
  }
}

@keyframes ripple {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes sparkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

.blinking {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
    font-size: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.2;
    font-size: 1.4rem;
  }
  to {
    opacity: 1;
    font-size: 2rem;
  }
}

@keyframes slowFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pop {
  from {
    scale: 1;
  }
  to {
    scale: 1.1;
  }
}

@keyframes unpop {
  to {
    scale: 1;
  }
}